/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS Start Here */


.container {
    width: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav {
    width: 80%;
    border: 1px solid gray;
    background-color: lightgray;
    height: 50px;
    margin: 0 auto;
}

.nav-h1 {
    font-size: 30px;
    margin-left: 20px;
    font-family: sans-serif;
}

.nav-search {
    height: 25px;
    width: 250px;
    border: 2px solid black;
}

.nav-submit {
    margin-right: 20px;
    height: 25px;
    background-color: blue;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    color: white;
}

.main {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.main-border {
    border: 2px solid black;
    height: 200px;
    width: 600px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main-border h1 {
    font-family: sans-serif;
    font-size: xx-large;
    margin-bottom: 10px;
}

.main-noun {
    font-style: italic;
    font-size: large;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-3border {
    border: 2px solid black;
    height: 180px;
    width: 400px;
}

.main3-p {
    font-size: x-large;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main3-span {
    font-size: xx-large;
}

.main3-button {
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: green;
    height: 30px;
    width: 150px;
}

.flex-1 {
    display: flex;
}

.main-p {
    margin-right: 60px;
    font-size: larger;
}

.p-plural {
    margin-left: 10px;
    margin-bottom: 35px;
}

.span {
    font-style: italic;
}

.main-button {
    background-color: yellow;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    height: 25px;
}